.table > div {
  padding-bottom: 1rem;
  display: flex;
  border-bottom: 1px solid rgb(from var(--text) r g b/ 0.3);
  width: 100%;
}
.table > div > span:first-child {
  min-width: 30%;
  max-width: 30%;
  font-weight: bold;
}
