.tech {
  background:
    linear-gradient(45deg, rgb(46, 47, 54), var(--background)) padding-box,
    conic-gradient(
        from 45deg,
        #19223d,
        var(--secondary),
        var(--primary),
        #19223d,
        #1f77e6,
        var(--primary),
        #19223d
      )
      border-box;
  border: 1px solid transparent;
  box-shadow: 0 0 6px -2px #000 !important;
}

/* .tech {
  background: conic-gradient(
    #451c07 0deg,
    #d06523 45deg,
    #dcbd92 90deg,
    #d06523 135deg,
    #451c07 180deg,
    #19223d 225deg,
    #1f77e6 270deg,
    #4bfbff 315deg,
    #1f77e6 360deg,
    #19223d 0deg
  );
} */
