.glare {
  height: 100%;
  width: 100%;
  filter: brightness(0.9) contrast(2);
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  left: 0;
  transition: 200ms;
  z-index: -1;
}

.shinning {
  position: absolute;
  background-image: linear-gradient(
    115deg,
    transparent 20%,
    #ffffff5b 25%,
    transparent 30%,
    transparent 50%,
    #ffffff5b 55%,
    transparent 60%
  );
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  mix-blend-mode: color-dodge;
  filter: brightness(0.6) contrast(1);
  z-index: -1;
}
