.bgGrid {
  background-image: url("./dot.svg");
  mask-image: radial-gradient(#000000bd, #00000013 30%);
}

.techCircle {
  background-image: url("../../assets/tech_circle.svg");
  height: 100px;
  background-size: cover;
}
