.meContainer {
  position: relative;
  width: 25%;
  max-width: 300px;
  min-width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.meContainer::after {
  content: "";
  position: absolute;
  backdrop-filter: blur(70px);
  inset: 0;
  border-radius: 50%;
}

.me {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  position: absolute;
  aspect-ratio: 1;
  z-index: 1;
}

.lights {
  position: absolute;
  overflow: hidden;
  inset: -2px;
  border-radius: 50%;
}
.lights::before {
  position: absolute;
  content: "";
  inset: -30%;
  background: conic-gradient(
    #451c07,
    #d06523,
    #dcbd92,
    #d06523,
    #451c07,
    #19223d,
    #1f77e6,
    #4bfbff,
    #1f77e6,
    #19223d
  );
  z-index: -1;
  mask-image: radial-gradient(circle, #00000000 35%, #000 43%);
}

.glow {
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    #451c07,
    #d06523,
    #dcbd92,
    #d06523,
    #451c07,
    #19223d,
    #1f77e6,
    #4bfbff,
    #1f77e6,
    #19223d
  );
  animation: glow 3s infinite ease-in-out 0.5s;
  border-radius: 50%;
}

@property --pos {
  syntax: "<length-percentage>";
  initial-value: 0%;
  inherits: false;
}

.electronic,
.electronic2,
.bg {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 350%;
  aspect-ratio: 3557/765;
}

.electronic {
  background: linear-gradient(
    to right,
    #4bfbff,
    #4bfbff,
    #1f77e6,
    #19223d,
    transparent 15%,
    transparent 85%,
    #3e1a08,
    #d06523,
    #ffa957,
    #ffa957
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--pos) 100%;
  mask-image: url("../../assets/electronic.svg");
  mask-size: 100% 100%;
  animation: expand 3s infinite ease-out;
}

.electronic2 {
  background: url("../../assets/electronic.svg");
  background-size: contain;
  z-index: -1;
  mask-image: radial-gradient(circle, #00000000 20%, #000);
}

.bg {
  position: absolute;
  mask-image: radial-gradient(circle, #00000093, #00000033, #00000000 20%);
  /* object-fit: cover; */
  width: 400%;
  max-width: none;
  mask-repeat: no-repeat;
  aspect-ratio: 3744/772;
  z-index: 2;
}

@keyframes expand {
  0% {
    --pos: 20%;
  }
  100% {
    --pos: 140%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes glow {
  0% {
    filter: blur(30px);
    opacity: 1;
  }

  50% {
    filter: blur(10px);
    opacity: 0.3;
  }

  100% {
    filter: blur(30px);
    opacity: 1;
  }
}
